table{
     border:none;
     margin-left:auto;
     margin-right:auto;
     border-spacing:10px;
     column-gap:10px;
     font-size:20px;
     cellpadding:50px;
}
#addstud{
     text-align:center;
     padding:10px;    
}
.btn{
     height:30px;
     width:150px;
     font-size:20px;
}
input{
     height:20px;
     font-size:18px;
}
input[type=radio]{
     transform:scale(1.5); 
     margin-top: -1px; 
     vertical-align: middle;
     margin-right:10px;
     margin-left:5px;
}