{% extends 'base.html' %}
{% load static %}
{% block some_css %}<link rel="stylesheet" type="text/css" href="{% static 'update.css' %}">{%endblock%}
{% block content %}
<form action="" method="POST">
{% csrf_token %}
<table>
<tr>
    <td>Student Name:</td>
    <td><input type="text" name="stu_name" value="{{stud.stu_name}}" required /></td>
    <td><input type="hidden" name="id" value="{{stud.id}}" /></td>
</tr>
<tr>
    <td>Email:</td>
    <td><input type="email" name="email" value="{{stud.email}}" required /></td>
</tr>
<tr>
    <td>Mobile:</td>
    <td><input type="text" name="mobile" value="{{stud.mobile}}" required /></td>
</tr>
<tr>
    <td>Address:</td>
    <td><input type="text" name="address" value="{{stud.address}}" required /></td>
</tr>
<tr>
    <td>Branch:</td>
    <td><input type="text" name="branch" value="{{stud.branch}}" required /></td>
</tr>
<tr>
    <td>Year:</td>
    <td><input type="number" name="year" value="{{stud.year}}" required /></td>
</tr>
<tr>
    <td>Semester:</td>
    <td><input type="number" name="semester" value="{{stud.semester}}" required /></td>
</tr>
<tr>
    <td>Honors:</td>
    <td><input type="text" name="honors" value="{{stud.honors}}" required /></td>
</tr>
<tr>
    <td id="update_stud" colspan="2"><button class="btn">Update Student</button></td>
</tr>
</table>
</form>
{%endblock%}